body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbe7e7;
  color: #000209;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

#Dropdown {
  margin: 10%;
}

.datePicker {
  padding: 100px 20px 20px 20px;
  width: 200px;
  align-self: center;
  background-color: #abd5d5;
}

.timePicker {
  margin: 2%;
  width: 200px;
  align-self: center;
  background-color: #abd5d5;
}